<app-nav></app-nav>
<!--/.Navbar -->
<div class="container main">
  <div class="row">
    <div class="col-12 boxl bg-primary text-center  d-flex justify-content-center flex-column" id="titulo">
      <h3> CRUD nodeJS / express / mongo </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <!-- add dishes -->
      <app-add-dish></app-add-dish>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <!-- listdishes -->
      <app-list-dish></app-list-dish>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
