<div class="row " id="listBox">
  <div class="container">
    <h3 class="text-center">Dish list</h3>
  </div>
</div>
<hr>
<div class="container bg-success">
    list of array dishes
</div>
<!-- <div *ngFor="d of dish" class="card  mt-2">
    <div class="row ">
      <div class="col-9 ">
        <div class="container">
          <div class="row">
            <div class="col-8">
              <h5>{{d.dishName}}</h5>
            </div>
            <div class="col-4">
              <h6>{{d.type}}</h6>
            </div>
          </div>
          <hr>
          <div class="row ">
            <div class="col-12">{{d.description}}</div>
          </div>
        </div>
      </div>
      <div class="col-3 d-flex justify-content-center flex-column">
        <div class="container py-1 ">
          <a href="#" class="btn btn-warning w-100 ">edit</a>
        </div>
        <div class="container py-1">
          <a href="#" class="btn btn-danger w-100">del</a>
        </div>
      </div>
    </div>
  </div> -->
